/.InfoProjectDescriptionLabelProvider.java._trace
/.InfoProjectLabelProvider.java._trace
/.InfoProjectDescriptionLabelProvider.xtendbin
/.InfoProjectLabelProvider.xtendbin
/InfoProjectDescriptionLabelProvider.java
/InfoProjectLabelProvider.java
