/.HelloWorldProject.java._trace
/.InfoProjectProjectTemplateProvider.java._trace
/.InfoProject.java._trace
/.InfoProjectProjectTemplateProvider.xtendbin
/InfoProject.java
/InfoProjectProjectTemplateProvider.java
